.totales {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.totales div {
    display: flex;
    flex-direction: column
}

.totales h2 {
    align-self: center;
    text-align: center;
    width: 60%;
    margin-bottom: 20px;
}